@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

:root
{
    --button-width: 200px; 
    --button-top: 10px;
    --buton-1-right: 300px;
    --buton-2-right: 50px;
    --font-size-front: 2vh;
}

* 
{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: inherit;
}

.page-header
{
    width: 100vw;
    height: var(--page-header-height);
    background-color: #26ff81;
    z-index: 1;
}

.page-header .logo
{
	margin: 20px;
	text-transform: uppercase;
    
    font-size: 4.5vh;
    font-family: 'Arial';
    font-weight: bold;
    
    color: var(--text);
}

.page-header .logo a
{
    color: var(--text);
}

 .button-container-1 
 {
	 position: absolute;
     width: auto;
     top: var(--button-top);
	 right: var(--buton-1-right);
	 overflow: hidden;
	 border-radius: 8px;

     font-family: 'Lato', sans-serif;
     font-weight: 300;
     font-size: 2vh;
     
     transition: 0.5s;
	 letter-spacing: 1px;
}
 .button-container-1 button {
	 width: 101%;
	 height: 100%;
     
     font-family: 'Lato', sans-serif;
	 font-weight: 300;
	 font-size: var(--font-size-front);
     
     letter-spacing: 1px;
	 font-weight: bold;
	 background: rgb(72, 121, 255);
	 -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
	 mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
	 -webkit-mask-size: 2300% 100%;
	 mask-size: 2300% 100%;
	 border: none;
	 color: #fff;
	 cursor: pointer;
	 -webkit-animation: ani2 0.7s steps(22) forwards;
	 animation: ani2 0.7s steps(22) forwards;
}
 .button-container-1 button:hover {
	 -webkit-animation: ani 0.7s steps(22) forwards;
	 animation: ani 0.7s steps(22) forwards;
}
 .button-container-2 {
    position: absolute;
    top: var(--button-top);
    width: var(--button-width);
    right: var(--buton-2-right);
    overflow: hidden;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;
}

 .button-container-2 button {
    width: 101%;
    height: 100%;
    
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: var(--font-size-front);
    
    letter-spacing: 1px;
    font-weight: bold;
    background: rgb(255, 55, 132);
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
}
 .button-container-2 button:hover {
	 -webkit-animation: ani 0.7s steps(29) forwards;
	 animation: ani 0.7s steps(29) forwards;
}
 .mas {
	 position: absolute;
	 color: #000;
	 text-align: center;
	 width: 101%;
	 font-family: 'Lato', sans-serif;
	 font-weight: 300;
	 position: absolute;
	 font-size: 2vh;
	 margin-top: 17px;
	 overflow: hidden;
	 font-weight: bold;
}
 @-webkit-keyframes ani {
	 from {
		 -webkit-mask-position: 0 0;
		 mask-position: 0 0;
	}
	 to {
		 -webkit-mask-position: 100% 0;
		 mask-position: 100% 0;
	}
}
 @keyframes ani {
	 from {
		 -webkit-mask-position: 0 0;
		 mask-position: 0 0;
	}
	 to {
		 -webkit-mask-position: 100% 0;
		 mask-position: 100% 0;
	}
}
 @-webkit-keyframes ani2 {
	 from {
		 -webkit-mask-position: 100% 0;
		 mask-position: 100% 0;
	}
	 to {
		 -webkit-mask-position: 0 0;
		 mask-position: 0 0;
	}
}
 @keyframes ani2 {
	 from {
		 -webkit-mask-position: 100% 0;
		 mask-position: 100% 0;
	}
	 to {
		 -webkit-mask-position: 0 0;
		 mask-position: 0 0;
	}
}
 a {
	 color: #00ff95;
}
 .button-container-3 {
	 position: relative;
	 width: 100px;
	 height: 50px;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 8vh;
	 overflow: hidden;
	 border: 1px solid #000;
	 font-family: 'Lato', sans-serif;
	 font-weight: 300;
	 transition: 0.5s;
	 letter-spacing: 1px;
	 border-radius: 8px;
}
 .button-container-3 button {
	 width: 101%;
	 height: 100%;
	 font-family: 'Lato', sans-serif;
	 font-weight: 300;
	 font-size: 11px;
	 letter-spacing: 1px;
	 font-weight: bold;
	 background: #000;
	 -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
	 mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
	 -webkit-mask-size: 7100% 100%;
	 mask-size: 7100% 100%;
	 border: none;
	 color: #fff;
	 cursor: pointer;
	 -webkit-animation: ani2 0.7s steps(70) forwards;
	 animation: ani2 0.7s steps(70) forwards;
}
 .button-container-3 button:hover {
	 -webkit-animation: ani 0.7s steps(70) forwards;
	 animation: ani 0.7s steps(70) forwards;
}
 